<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
    <style>
        .gallery {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            margin-bottom: 30px;
        }
        .gallery img {
            max-width: 150px;
            height: auto;
            border: 1px solid #ccc;
        }
    </style>
</head>

<body>

<h1>File Upload con Dropzone</h1>

<form action="{{ url_for('upload_files') }}" class="dropzone" id="my-dropzone"></form>

<hr>

<h2>Imágenes subidas:</h2>
<div class="gallery">
    {% for file in original_files %}
        <img src="{{ url_for('upload', filename=file) }}" alt="Original">
    {% endfor %}
</div>

<h2>Imágenes con bordes:</h2>
<div class="gallery">
    {% for file in bordered_files %}
        <img src="{{ url_for('upload', filename=file) }}" alt="Con Borde">
    {% endfor %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
<script>
    // Configuración para que la página se actualice al terminar de subir
    Dropzone.options.myDropzone = {
        init: function() {
            this.on("queuecomplete", function() {
                // Cuando todos los archivos se suban, recargar la página para ver las listas actualizadas
                location.reload();
            });
        }
    };
</script>

</body>
</html>